.equipment {
	padding-top: 80px;
	overflow: hidden;


	@include mobile {
		padding-top: 27px;
		padding-bottom: 27px;
	}

	h3 {
		margin-bottom: 24px;

		@include mobile {
			@include regular-34;
		}

		span {
			@include FontFamilyOswaldMedium;
			color: $dark-green;
			@include medium-54;

			@include tablet {
				@include medium-40;
			}

			@include mobile {
				@include medium-34;
			}
		}
	}

	h4 {
		margin-bottom: 24px;
		@include regular-36;

		span {
			@include FontFamilyOswaldRegular;
			@include regular-36;
		}

		@include mobile {
			order: 3;
			display: block;
			padding: 40px 27px 51px 27px;
			text-align: center;
			@include regular-32;
			color: $white;
			background-image: url(@images/equipments-background.png);
			background-repeat: no-repeat;
			background-size: cover;

			span {
				@include regular-32;
				color: $green;
			}
		}
	}

	&__swiper {
		@include mobile {
			padding-bottom: 30px !important;
		}

		.swiper-wrapper {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 30px;
			margin-top: 48px;

			@include desktop {
				grid-template-columns: repeat(4, 1fr);
			}

			@include tablet {
				grid-template-columns: repeat(3, 1fr);
			}

			@include tablet_small {
				grid-template-columns: repeat(2, 1fr);
			}

			@include mobile {
				display: flex;
				gap: 0;
				margin-top: 0;
			}

			.swiper-slide {
				border: 1px solid #C4C4C4;
				border-radius: 3px;
				padding: 16px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				gap: 41px;
				height: auto;

				@include mobile {
					max-width: 242px;
					gap: 18px
				}

				img {
					width: 100%;
				}

				p {
					color: $black;
					@include medium-18;

					@include tablet {
						@include medium-16;
					}
				}
			}
		}

		.swiper-scrollbar {
			.swiper-scrollbar-drag {
				background: #6b7734;;
			}
			@include min_mobile {
				display: none !important;
			}
		}
	}
}
