.finance {
	padding: 80px 0 156px 0;

	@include tablet {
		padding: 56px 0 56px 0;
	}
	.container {
		display: grid;
		grid-template-areas:
		 'title title'
		 'text link'
		 'img img';
		gap: 12px;
		overflow: hidden;

		@include tablet_small {
			display: flex;
			flex-direction: column;
		}

		h3 {
			grid-area: title;
			@include medium-54;

				@include tablet {
					@include medium-40;
				}

				@include mobile {
					@include medium-34;
				}

			span {
				@include FontFamilyOswaldMedium;
				color: $dark-green;
				@include medium-54;

				@include tablet {
					@include medium-40;
				}

				@include mobile {
					@include medium-34;
				}
			}
		}

		p {
			grid-area: text;
			max-width: 897px;
			@include regular-28;

			@include tablet {
				@include regular-22;
			}

			@include mobile {
				@include regular-18;
			}
		}

		a {
			height: 78px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
			grid-area: link;
			padding: 20px 16px;
			background-color: $green;
			justify-self: flex-end;
			align-self: flex-end;
			color: #342520;
			@include regular-24;
			transition: background-color $transitionDuration ease;

			&:hover {
				background-color: rgba(209, 235, 89, .6);
			}

			@include tablet {
				width: 100%;
			}
		}

		.finance__table {
			grid-area: img;
			margin-top: 64px;
			scrollbar-color: $green $white;

			@include desktop_base {
				overflow-x: scroll;
				overflow-y: hidden;
				margin-top: 24px;
				padding-bottom: 24px;
			}

			table {
				width: 100%;
			}

			td {
				padding: 5px;
				font-family: "Roboto";
				font-size: 15px;
			}

			.bold {
				font-weight: 700;
				td {
					font-weight: 700;
				}
			}
			.red {
				color: red;
			}
		}
	}
}
