footer {
	background-color: $black-green;
	color: $white-gray;


	.container {
		padding: 25px 119px !important;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;

		@include tablet {
			padding: 32px 30px !important;
		}

		@include mobile {
			padding: 32px 16px !important;
		}

		span {
			@include regular-16;
			color: $white-gray;
			@include FontFamilyRobotoRegular;

			@include mobile {
				text-align: center;
				@include regular-16;
			}
		}

		a {
			@include FontFamilyRobotoRegular;
			@include medium-16;
			color: $white-gray;
			width: fit-content;
			transition: color $transitionDuration ease;

			&:hover {
				color: #99ab47;
			}

			@include mobile {
				@include regular-16;
			}
		}

		div {
			display: flex;
			align-items: center;
			justify-content: space-between;
			text-align: center;
			a {
				@include FontFamilyRobotoRegular;
				@include regular-14;
				color: $white-gray;
				width: fit-content;

				&:hover {
					color: #99ab47;
				}

				@include mobile {
					text-align: left;
					@include regular-16;
				}
			}

			@include desktop_small {
				gap: 16px;

				span {
					display: none;
				}
			}

			@include tablet{
				flex-direction: column;
				gap: 8px;
				align-items: flex-start;
			}
		}

		@include desktop {
			padding: 25px 60px;
		}

		@include tablet {
			padding: 32px 16px;
			flex-direction: column;
			gap: 8px;
			align-items: flex-start;
		}
	}
}
