.map {
	padding-top: 90px;

	@include mobile {
		padding-top: 55px;
	}

	&__header {
    width: 100%;
    margin: 0 0 40px 0;

    h2 {
			@include FontFamilyOswaldMedium;
      color: #000000;
    }

    span {
			@include FontFamilyOswaldMedium;
      color: #99AB47;
    }

    &.width{
        max-width: rem(890px);
        width: 100%;
        margin: 0 0 rem(12px) 0;
    }
    @include tablet{
        & h2{
            font-weight: 500;
            font-size: rem(34px);
            line-height: 120%;
        }
    }
	}

	&__numbers {
    display: flex;
    justify-content: space-between;
    @include tablet{
        flex-direction: column;
    }
	}

	&__number {
    display: flex;
    max-width: rem(400px);

    p:first-child{
			@include FontFamilyOswaldBold;
			@include bold-93;
        color: #99AB47;
        margin: 0 36px 0 0;
        @include desktop_small{
            margin: 0 16px 0 0;
        }
        @include tablet{
            @include bold-65;
            margin: 0 16px 0 0;
        }
    }

		p {
        @include regular-20;
        color: #000000;
				max-width: 209px;
				margin-top: 20px;
    }

    @include tablet{
			max-width: 100%;
			width: 100%;
			margin: 0 0 23px 0;
    }
	}

	&__image {
    position: relative;
		width: 100%;
		max-width: 1588px;
		margin: 48px auto 0 auto;
		text-align: center;

		@include desktop_medium {
			margin: 48px 0 0 0;
			overflow-x: scroll;
		}

    svg {
        & g {
            cursor: pointer;
            position: absolute;
            top: 0;
        }
    }
	}

	&__card {
    padding: 15px 24px;
    background: $green;
		border-radius: 8px;
		box-shadow: 0px 2.1861px 5.46525px rgba(91, 134, 48, 0.35);
    max-width: 280px;
    position: absolute;
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: $transitionDuration;
    z-index: 1;
		top: 390px;
		left: 39px;

		&::after {
			content: '';
			width: 28px;
			height: 16px;
			display: block;
			clip-path: polygon(100% 0, 0 0, 50% 100%);
			background-color: $green;
			box-shadow: 0px 2.1861px 5.46525px rgba(91, 134, 48, 0.35);
			position: absolute;
			bottom: -15px;
			left: 0;
			right: 0;
			margin: 0 auto;
		}

		span {
			@include medium-18;
		}

    &.active{
        display: block;
        visibility: visible;
        opacity: 1;
    }
	}
}

