.specs {
	padding: 120px 0 208px 0;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;

	@include tablet {
		background: none;
	}

	&_dirty {
		background-color: $dirty;
	}


	@include tablet {
		background-color: unset;
		padding: 56px 0 0 0;
	}

	.container {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		grid-template-areas:
		'title title'
		'text img';
		gap: 60px;

		&_large-image {
			grid-template-areas:
			'title img'
			'text img';

			@include mobile {
				padding: 0;

				h3 {
					padding: 0 16px;
				}

				.specs__text {
					padding: 0 16px;
				}

			}
		}

		@include tablet {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}
	}

	h3 {
		grid-area: title;

		@include mobile {
			@include regular-34;
		}

		span {
			@include FontFamilyOswaldMedium;
			color: $dark-green;
			@include medium-54;

			@include tablet {
				@include medium-40;
			}

			@include mobile {
				@include medium-34;
			}
		}
	}

	&__list {
		grid-area: text;
		display: flex;
		flex-direction: column;
		gap: 16px;

		h4 {
			@include FontFamilyRobotoMedium;
			@include medium-18;
		}

		span {
			color: $light-gray;
			@include regular-18;
			margin-top: 4px;
			line-height: 125%;
		}
	}

	&__table {
		@include medium-34;
		min-width: 485px;

		@include mobile {
			@include regular-28;
			min-width: unset;
		}

		li {
			display: grid;
			grid-template-columns: 0.5fr 0.25fr 0.25fr;
			gap: 20px;
			padding: 12px;
			border-bottom: solid 2px $light-green;

			@include mobile {
				gap: 16px;
				padding: 8px 12px;
				border-bottom: solid 1px $light-green;
			}

			h4 {
				@include FontFamilyRobotoRegular;
				@include medium-18;

				@include mobile {
					@include regular-12;
				}
			}

			span {
				@include FontFamilyRobotoRegular;
				@include regular-16;

				@include mobile {
					@include regular-14;
				}
			}

			&:nth-child(1) {
				background-color: $light-green;
				margin-top: 32px;
				border: none;
			}
		}
	}

	&__text {
		h4 {
			display: flex;
			align-items: center;
			@include medium-36;
			margin-bottom: 50px;

			img {
				margin-right: 16px;
			}

			@include mobile {
				@include medium-28;
				margin-bottom: 24px;
			}
		}

		h5 {
			@include medium-24;
			margin-bottom: 24px;

			@include mobile {
				@include medium-18;
			}
		}

		p {
			margin-bottom: 16px;

			@include mobile {
				margin-bottom: 4px;
				@include regular-14;
			}
		}

	}

	&__image {
		grid-area: img;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: max-content;
		grid-template-areas:
		'elements elements'
		'img img';
		gap: 30px;

		img {
			width: 100%;
		}

		@include mobile {
			grid-template-columns: 1fr;
			grid-template-areas:
		'elements'
		'img';
		}
	}

	&__elements {
		grid-area: elements;
		width: 100%;
		padding: 42px 20px;
		background-color: $green;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 18px;

		@include mobile {
			padding: 24px 16px;
			grid-template-columns: 1fr;
		}

		img {
			grid-area: img;
			width: 100%;
		}
	}
}
