.specs {
	padding: 120px 0 208px 0;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;

	@include tablet {
		background: none;
	}

	&_dirty {
		background-color: $dirty;
	}


	@include tablet {
		background-color: unset;
		padding: 56px 0 0 0;
	}

	.container {
		display: grid;
		grid-template-columns: 0.7fr 1fr;
		grid-template-areas:
		'title title'
		'text img';
		gap: 60px;

		&_large-image {
			grid-template-areas:
			'title img'
			'text img';

			@include mobile {
				padding: 0;

				h3 {
					padding: 0 16px;
				}

				.specs__text {
					padding: 0 16px;
				}

			}
		}

		@include tablet {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}
	}

	h3 {
		grid-area: title;

		@include mobile {
			@include regular-34;
		}

		span {
			@include FontFamilyOswaldMedium;
			color: $dark-green;
			@include medium-54;

			@include tablet {
				@include medium-40;
			}

			@include mobile {
				@include medium-34;
			}
		}
	}

	&__list {
		grid-area: text;
		display: flex;
		flex-direction: column;
		gap: 32px;

		ul {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}

		li {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}

		h4 {
			@include FontFamilyRobotoMedium;
			@include medium-18;
			margin-bottom: 4px;
		}

		span {
			color: $light-gray;
			@include regular-18;
			margin-top: 4px;
			line-height: 125%;
		}
	}

	&__table {
		min-width: 485px;

		@include mobile {
			min-width: unset;
		}

		h4 {
			@include medium-34;
			margin-bottom: 32px;
			@include mobile {
				@include regular-28;
				margin-bottom: 16px;
			}
		}

		li {
			display: grid;
			grid-template-columns: 0.5fr 0.25fr 0.25fr;
			gap: 20px;
			padding: 12px;
			border-bottom: solid 2px $light-green;

			@include mobile {
				gap: 16px;
				padding: 8px 12px;
				border-bottom: solid 1px $light-green;
			}

			h4 {
				@include FontFamilyRobotoRegular;
				@include medium-18;

				@include mobile {
					@include regular-12;
				}
			}

			span {
				@include FontFamilyRobotoRegular;
				@include regular-16;

				@include mobile {
					@include regular-14;
				}
			}

			&:nth-child(1) {
				background-color: $light-green;
				margin-top: 32px;
				border: none;
			}
		}
	}

	&__text {
		h4 {
			display: flex;
			align-items: center;
			@include medium-36;
			margin-bottom: 50px;

			img {
				margin-right: 16px;
			}

			@include mobile {
				@include medium-28;
				margin-bottom: 24px;
			}
		}

		h5 {
			@include medium-24;
			margin-bottom: 24px;

			@include mobile {
				@include medium-18;
			}
		}

		p {
			margin-bottom: 16px;

			@include mobile {
				margin-bottom: 4px;
				@include regular-14;
			}
		}

	}

	&__image {
		max-width: 879px;
		grid-area: img;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: max-content;
		grid-template-areas:
		'elements elements'
		'img img';
		gap: 30px;

		img {
			width: 100%;
		}

		@include mobile {
			display: block;
			background-color: $green;
			grid-template-columns: 1fr;
			grid-template-areas:
		'elements'
		'img';
		}

		.swiper-scrollbar {
			bottom: 20px !important;
			 @include min_mobile {
				display: none !important;
			 }
		}
	}

	&__elements.swiper-wrapper {
		@include min_mobile {
			grid-area: elements;
			width: 100%;
			padding: 42px 20px;
			background-color: $green;
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			gap: 18px;
			box-sizing: border-box;
		}

		@include mobile {
			padding: 24px 16px 48px 16px;
			grid-template-columns: 1fr;
		}

		img {
			grid-area: img;
			width: 100%;
		}

		.swiper-slide {
			display: flex;
			align-items: center;
			position: relative;

			@include mobile {
				max-width: 328px;
			}

			&:after {
				position: absolute;
				right: -20px;
				width: 18px;
				content: url(@icons/arrow.svg);

				@include mobile {
					display: none;
					bottom: -20px;
					left: 0;
					right: 0;
					margin-left: auto;
					margin-right: auto;
    			transform: rotate(90deg);
				}
			}

			&:nth-child(6) {
				&:after {
					bottom: -20px;
					left: 0;
					right: 0;
					margin-left: auto;
					margin-right: auto;
    			transform: rotate(90deg);
				}
			}

			&:nth-child(n + 7):nth-child(-n + 11) {
				&:after {
    			transform: rotate(180deg);
					right: -15px;

					@include mobile {
						bottom: -20px;
						left: 0;
						right: 0;
						margin-left: auto;
						margin-right: auto;
						transform: rotate(90deg);
					}
				}
			}

			&:nth-child(12) {
				&:after {
					content: '';
				}
			}
		}
	}

	&__photo {
		@include mobile {
			display: none;
		}
	}
}
