$white: #ffffff;
$dirty: #F3F3F3;
$black: #000000;
$light-green: #E1F3D9;
$green: #D1EB59;
$dark-green: #99AB47;
$black-green: #242F19;
$brown: #342520;
$light-gray: #5C5C5C;
$white-gray: #D0D0D0;
$gray: rgba(52, 37, 32, 0.79);
$error40: #F65D5D;
$error50: #F20C0C;
$success50: #32D583;


$transitionDuration: .7s;
